.accordionHolder {
    margin: 1% 0;
}

.accRow {
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
  }
  
  .accBox {
    flex-direction: column;
    background-color: white;
    padding: 2%;
    width: 20%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .accWarning {
    flex-direction: column;
    background-color: #e17055;
    padding: 2%;
    width: 20%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #ffffff;
  }


  .phaseText {
    font-size: 18px;
    font-weight: 500;
    color: #0984e3;
  }