.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000; /* Ensures it stays above other content */
}

.scrolled {
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-height: 50px; /* Adjust as needed */
}

.dropdown select {
  padding: 8px;
  font-size: 16px;
  margin-right: 5%;
}


.headerTitle {

font-size: 2rem;
}